


body{
padding:0 5vw;
font-family:'DM Sans',sans-serif;
letter-spacing:-3%;
font-weight: 300;
-ms-overflow-style: none;
-webkit-text-stroke: 0.15px;

overflow-x: hidden;
background-color: var(--Primary-Color);

--Primary-Color:#FFF;
--Secondary-Color: #000;
--c-active: #275EFE;
--c-active-inner: white;
--c-default: gray;
}


div {
  user-select: none;
}

header{
    width: 100vw;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 0 5vw;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /*min pref max*/
    font-size: clamp(14px, 20px, 26px);
    background-color: transparent;
    transition: ease 0.4s;
    color: var(--Secondary-Color);
    z-index:1000;

    &--scrolled {
      height: 60px;
    }
  }


/* switch*/

.switchWraper{
  padding: 0px;


}
.switch {
  border-radius: var(--border-radius, 12px) var(--border-radius-corner, 12px) var(--border-radius, 12px) var(--border-radius, 12px);
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right:1.5vw;  
  z-index: 0;
  
}
.switch input {
  appearance: none;
  outline: none;
  border: none;
  background: var(--input-background, none);
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: inherit;
  width: var(--input-width, 24px);
  height: var(--input-height, 24px);
  position: relative;
  z-index: 1;
}
.switch svg {
  position: absolute;
  pointer-events: none;
  fill: var(--c-active-inner);
  transform: scale(1.01) translateZ(0);
  z-index: 2;

}
.switch {
  --input-width: 38px;
}
.switch input {
  --input-background: var(--c-default);
}
.switch input:checked {
  --input-background: var(--c-active);
}
.switch input:checked + svg {
  --default-s: 0;
  --default-x: 8px;
  --dot-s: 1;
  --dot-x: 0px;
}
.switch input + svg {
  --input-background: var(--c-default);
  --default-s: 1;
  --default-x: 0px;
  --dot-s: 0;
  --dot-x: -8px;
}
.switch .default {
  transform-origin: 12px 12px;
  transform: translateX(var(--default-x)) scale(var(--default-s)) translateZ(0);
}
.switch .dot {
  transform-origin: 26px 12px;
  transform: translateX(var(--dot-x)) scale(var(--dot-s)) translateZ(0);
}

/*Button Magnetic*/  
  .newbuttonLink {
    width: 80px;
    height: 100px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 20px, 26px);;
    display: flex;
    position: absolute;
    overflow: visible;
    
  
  }
  
  .newbuttonLink .textblock {
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-weight:500;
    position: relative;
    isolation: isolate;

  }
  
  .textblock {
    position: absolute;
    z-index: 5;
    color: var(--Primary-Color);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: auto;
    -webkit-text-stroke: 0;

  }
  
  .OuterMagneticRangeLink {
    /* this is the range*/
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: -50px;
  }
  
  .newbuttonLink .textblock:after {
    background: none repeat scroll 0 0 transparent;
    margin-top: 30px;
    content: "";
    display: block;
    height: 2px;
    border-radius: 2px;
    left: 50%;
    position: absolute;
    background: var(--Secondary-Color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 5;
  }
  
  .OuterMagneticRangeLink:hover .textblock:after {
    width: 100%;
    left: 0;
  }

  
/*Hamburger menu*/
.MenuContainer{
    width: auto;
    height: 100%; 
    display:flex ; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap:5px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
    position: relative;
    padding: 2vw;
    margin-left: -2.5vw;  
    right: 0;
  }


  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--Secondary-Color);
    stroke-width:5.5;
    stroke-linecap:round;
    transition: stroke 0.3s;

  }

  .ham:hover .line{
    stroke: var(--Primary-Color);
    transition-delay: 0.08s;
  }
  
  .ham8 .top {
    stroke-dasharray: 40 160;
    
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms, stroke 0.3s;
    
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms, stroke 0.3s;
    
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }

  .ham8.active .middle {
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }
  


  /* --------------------------------- Cursor --------------------------------- */

  .mf-cursor.-blue:before {
    background-color: transparent !important;
    border: solid #2f66ed 2px !important;
    transform:scale(0.8) !important;
    mix-blend-mode: difference;
    }
    .mf-cursor.-blue.-active:before{
      transform:scale(0.7) !important;
    }
  .mf-cursor.-black:before {
    background-color: transparent !important;
    border:solid 2px var(--Secondary-Color) !important;
    transform:scale(0.8) !important;
    mix-blend-mode: difference;
    }
  
    .mf-cursor::before{
      background-color: var(--Secondary-Color) !important;
    }

  .mf-cursor.-interest:before {
    background-color: #2f66ed !important;
    transform:scale(0.8) !important;
    }

  .mf-cursor.-interest.-active:before {
    transform:scale(0.7) !important;
    }

  .mf-cursor.-active:before {
    transform:scale(0.15) !important;
    }


  .mf-cursor.-text:before {
    opacity:1 !important;
    background-color: #2f66ed !important;
    transform:scale(1.5) !important;
    }
  .mf-cursor.-text.-active:before {
  transform:scale(1.4) !important;
  }


/* ---------------------------------- Text ---------------------------------- */

.arrow{
  position: absolute;
  left: 5.5vw;
  height: 34px;
  width: 34px;
}

.arrow path{
  stroke: var(--Secondary-Color);
}

.WelcomeTextContainer{
    padding: 1.5vw;
    position: relative;
    top:60px;
    margin-bottom: 60px;
    width: 90vw;
    height: 70vh;
    display:flex;
    align-items: center; 
    transform: translateY(-50px); /* per compensare l'header che è 100px*/
    z-index: -1;
}
.WelcomeTextContainer .about_text_wrap, 
.ExploreSections .about_text_wrap,
.AboutMe .about_text_wrap{
    color: var(--Secondary-Color);
    margin: 0;
    margin-left: 3%;
    width: auto;
    white-space: nowrap;

  }
  
 .WelcomeTextContainer .about_text_pWrap, 
 .ExploreSections .about_text_pWrap,
 .AboutMe .about_text_pWrap{
    overflow: hidden;
    margin: -3.5% 2%;
    width: 110%;
  }
  
 .WelcomeTextContainer .about_text, 
 .ExploreSections .about_text,
 .AboutMe .about_text{
    left: 0px;
    font-size: clamp(30px, 120px, 120px);
  }

  .WelcomeTextContainer .about_text .about_text_pWrap:first-child,
  .ExploreSections .about_text .about_text_pWrap:first-child,
  .AboutMe .about_text .about_text_pWrap:first-child{
    margin-left: -1%;
    margin-bottom: 4%;
    font-size: clamp(20px, 20px, 20px);
    color: var(--Secondary-Color);
    opacity: 0.6;
  }



  /* -------------------------------- FirstIMG -------------------------------- */
  .FullSiteMokupWrapper{
    position: relative;
    width: 104vw;
    height: 100vh;
    margin-left: -7vw;
    overflow: hidden;
  
  }

  .FullSiteMokup{
    position: absolute;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: flex-start;
    justify-content:center;
    overflow: hidden;
  }

  .FullSiteMokup img {
    height: 130vh;
  }


  /* ---------------------------- Site description ---------------------------- */

  .SideDescription,
  .SectionsDescription,
  .AboutMeDescription{
    width: 90vw;
    position: relative;
    margin-top: 180px;
    display: flex;
    justify-content: left;
    flex-direction: row;
  }

  .SectionsDescription, .AboutMeDescription{
    margin-top: 50px;
  }

  .SideDescription .titleDiv,
  .SectionsDescription .titleDiv,
  .AboutMeDescription .titleDiv {
    position: relative;
    width: 26vw;
    box-sizing: border-box;
    margin-right:2vw;
    font-size: clamp(16px, 20px, 20px);
    text-align: center;
  }


  .SideDescription .about_text_wrap,
  .SectionsDescription .about_text_wrap,
  .AboutMeDescription .about_text_wrap{
    color: var(--Secondary-Color);
    margin: 0;
    margin-left: 3%;
    width: auto;
    white-space: nowrap;

  }
  
 .SideDescription .about_text_pWrap,
 .SectionsDescription .about_text_pWrap,
 .AboutMeDescription .about_text_pWrap{
    overflow: hidden;
  }
  
 .SideDescription .about_text,
 .SectionsDescription .about_text,
 .AboutMeDescription .about_text  {
    left: 0px;
    font-size: clamp(24px, 28px, 28px);
  }


  .SideDescription .titleDiv .about_text,
  .SectionsDescription .titleDiv .about_text,
  .AboutMeDescription .titleDiv .about_text {
    left: 0px;
    font-size: clamp(16px, 20px, 20px);

  }


  /* ------------------------------- Orb Section ------------------------------ */

  .OrbSection{
    position: relative;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10vw;
  }

  canvas { 
    touch-action: none;
  }

  .canvas-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 50vh;
    }

  

  .CodepenTextWraper{
    margin-top: -50px;  
  }

  .OrbSection .about_text_wrap {
    color: var(--Secondary-Color);
    margin: 0;
    margin-left: 3%;
    width: auto;
    white-space: nowrap;

  }
  
 .OrbSection .about_text_pWrap {
    overflow: hidden;
    width: 110%;
    margin-top: -20px;
    padding-bottom: 20px;
  }
  
 .OrbSection .about_text {
    left: 0px;
    font-size: clamp(40px, 60px, 60px);
  }

  .OrbSection .about_text .about_text_pWrap:nth-child(3) .about_text_p{
    font-size: clamp(20px, 24px, 24px);
    color: var(--Secondary-Color);
    opacity: 0.6;
  }


  .OrbSection .OuterMagneticRange{
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px; height:200px; 
    margin-top: -65px;
    margin-left: calc(1vw - 100px);
    position: absolute;

  }

  /* Button che esplode */
  .OrbSection button {
    cursor: pointer;
    width: 200px;
    height:60px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    background: var(--Secondary-Color);
    display: flex;
    justify-content: center;
    align-items:center;
    border:none;
  }

  .OrbSection button span {
    position:absolute;
    color: var(--Primary-Color);
    font-size: 24px;
    text-align:center;
    z-index:10;
    width: 100%;
    left:0;
    -ms-overflow-style: auto;
    -webkit-text-stroke: 0;
  }
  
  /*Testo github*/
  
.CodepenTextWraper a {
  color: var(--Secondary-Color);
  width: 200px;
  height: 24px;
  font-size: clamp(20px, 24px, 24px);
  display: inline-block;
  text-decoration: none;
}

.CodepenTextWraper .btn {
  font-size: clamp(20px, 24px, 24px);
  text-align: center;
	transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);  letter-spacing: 3px;
  position: relative;
  left:-36px;
  display: inline-block;
  width: 200px;
  box-sizing: border-box;

}

.CodepenTextWraper .btn:hover {
  width: 250px;
  padding-left: 43px;
}

.CodepenTextWraper .btn:before {
  content: "→";
	transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86); 
  position:relative;
/*   left:-5px; */
  opacity:0;
}

.CodepenTextWraper .btn:hover:before {
  content: "→";
	transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 200ms;
  left:0px;
  opacity:1;
}

.btn:after {
  content: "";
  border-bottom: 2px solid #3166ed;
  width: 30px;
  height: 24px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 12px;
  left:-139px;
	transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);}



  .CodepenTextWraper .btn:hover:after {
  width: 120px;
	transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);  
  left:-170px;
}


  /* ------------------------ Explore all the sections ------------------------ */

  .ExploreSections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 200px;
    padding: 1.5vw;
  }

  .divider{
    height: 2px;
    background-color: var(--Secondary-Color);
    margin-top: 75px;
    margin-left:5vw;
  }

  /* --------------------------------- 3 Cards -------------------------------- */

  .Cards3{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
    color: var(--Secondary-Color);
  }


.CardWraper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardPhoto {
    width: 100%;
    padding-bottom: 100%; /* Per fare in modo che il CardPhoto sia quadrato */
    background-color: #ccc; /* Colore di sfondo di esempio */
    margin-bottom: 15px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.97);
    overflow: hidden;

}

.CardPhoto img{
  position: absolute;
  margin: auto;
  height: 100%;
  transition: all 0.3s ease-in-out;

}

.CardPhoto:hover img{
  transform: scale(1.05);
}


.CardPhoto:hover{
  border-radius: 50%;  
}

.CardText:first-child p{
  font-size: clamp(20px,24px,24px);

}
.CardDivisore{
  width: 100%;
  height: 2px;
  background-color: var(--Secondary-Color);
}

/* ---------------------------- Scrolling Phrase ---------------------------- */

.SrollingPrase{
  margin-top: 100px;
  -ms-overflow-style: auto;
  -webkit-text-stroke: 0;
  color: var(--Secondary-Color);
}

.SrollingPrase .wrapperRollingText {
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  transform: rotate(-2.25deg);
}
.SrollingPrase .rollingText {
  font-size: 6vw;
  display: inline-block;
  padding-left: 10px;
}
.SrollingPrase .wrapperRollingText02 {
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  transform: rotate(-2.25deg);
}
.SrollingPrase .rollingText02 {
  font-size: 6vw;
  display: inline-block;
  padding-left: 13px;
}
.SrollingPrase span{
  font-weight:600;
  color:#2f66ed;
}

/* -------------------------------- About Me -------------------------------- */
.AboutMe{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 200px;
  padding: 1.5vw;
}

.AboutMeFotoWrapper{
  margin-top: 150px;
  display: flex;
  align-items:top;
  justify-content: left;
  gap: 20px;

}

.AboutMeFoto{
  width: 55%;
  height: 100vh;
  background-color: #ccc;
}


.AboutMeFotoWrapper .about_text_wrap{
  color: var(--Secondary-Color);
  margin: 0;
  margin-left: 3%;
  margin-top: 100px;
  width: auto;
  white-space: nowrap;

}
.AboutMeFotoWrapper .about_text_pWrap{
  overflow: hidden;
}


.AboutMeFotoWrapper .about_text  {
  left: 0px;
  font-size: clamp(24px, 28px, 24px);
}


/* ------------------------------ See My Works ------------------------------ */

.SeeMyWorks{
  margin-top: 25px;
  margin-bottom:100px;
  width: 95vw;
  height: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.SeeMyWorks .dividerNoAnim{
  height: 2px;
  background-color: var(--Secondary-Color);
  width: 90%;
  margin-top: 0px;
  margin-left: 0px;
  }

.SeeMyWorks .newbutton {
  width: 200px;
  height: 200px;
  background-color: #2f66ed;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.SeeMyWorks .textblock {
  position: absolute;
  z-index: 5;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 30px, 30px);
  text-align: center;
}

.SeeMyWorks .OuterMagneticRange {
  /* this is the range*/
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right:15vw;
}


footer{
  position: absolute;
  width: 100%;
  background-color: var(--Secondary-Color);
  left: 0px;
  height: 100vh;
}

